html {
    font-size: 62.5%;
}

@font-face {
    font-family: aniron;
    src: url("aniron.regular.ttf");
  }

@font-face {
    font-family: camelot;
    src: url("CamelotCaps.ttf");
}

body {
    background-image: url("ivory.jpg");
    font-family: 'aniron', cursive;
}

p {
    border: double black 2px;
    font-size: 1.5rem;
}

.heading {
    font-family: 'camelot', cursive;
    font-size: 2rem;
}